<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYxa-8Jt3lm2NH_aOLt15ljijayMeXfnU</string>
	<key>GCM_SENDER_ID</key>
	<string>918519664641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourstory</string>
	<key>PROJECT_ID</key>
	<string>your-story-43a73</string>
	<key>STORAGE_BUCKET</key>
	<string>your-story-43a73.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918519664641:ios:2cc347ab5f4793a6b8f000</string>
</dict>
</plist>